.group {
  /*font-family: Arial;
  font-size: medium;*/
  font: bold;
  background-color: #e9edf0;
  color: black;
}

.subgroup {
  /*font-family: Arial;
  font-size: medium;*/
  font: bold;
  background-color: #e9edf0;
  color: black;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
