<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ftpServerUrl" value="ftp://122.176.104.29:210" />
		<add key="ftpUsername" value="sujeetftp" />
		<add key="ftpPassword" value="sujeetftp" />
		<add key="localFilePath" value="D:\Backup_FTP\sujeet" />
		<add key="IsFTP" value="true" />
		<add key="sftpServerUrl" value="ftp://122.176.104.29:210" />
		<add key="sftpUsername" value="sujeetftp" />
		<add key="sftpPassword" value="sujeetftp" />
		<add key="sftpFilePath" value="D:\Backup_FTP\sujeet" />
		<add key="sftpPort" value="22" />
	</appSettings>
</configuration>